body {
	background-attachment: fixed;
	background-color: #000000;
	background-image: url('https://media.timeout.com/images/102503695/image.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

.keys {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 90vh;
}

.key {
	background-color: rgba(0, 0, 0, 0.8);
	border:  2px solid transparent;
	border-image: linear-gradient(to bottom, #d905ec, #09f115,#0d09f1) 1;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.9);
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 15px;
	padding-top: 10px;
	text-align: center;
	transition: all .03s ease;
	width: 10rem;
}

.key:hover {
	cursor: pointer;
}

.playing {
	border-color: #C2629D;
	box-shadow: 0 0 2px #C2629D;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	transform: scale(1.1);
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	color: #F0B81F;
	font-size: 11px;
	text-transform: uppercase;
}